@import '../../exports.module.scss';
.nosotras {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: 20px;
    margin-right:25px;
    $boxShadow:  0px 0px 40px rgba(0, 0, 0, 0.349);
    //justify-content: center;
    align-items: center;
    .info {
        background: white;
       // margin: 20px 200px 20px 200px;
        border-radius: 10px;
        padding: 30px;
        //padding-top: 5px;
        border: 2px solid $blue2;
        box-shadow:  $boxShadow;
        font-size: 1.2rem;
        & .title{
            font-weight: bold;
            color: $blue2;
            text-align: center;
            font-size: 2rem;
        }
    }
    .integrantes {
       // border:1px solid black;
       margin: 20px;
        display: flex;
        justify-content: center;
        & .integrante{
            margin: 20px;
            border: 2px solid $purple2;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            width: 250px;
            box-shadow: $boxShadow;
            & >img{
                width: 100%;
            }
            & .int-info{
                //border:2px solid $purple2;
                background-color: white;
                text-align: center;
                padding: 5px;
                border-radius: 30px;
            }
        }
        
    }
}

@media screen and (max-width:1200px) {
    .nosotras{
        flex-direction: column;
    }
    .integrantes{
        flex-direction: column;
    }
}
