.postStyle {
    $size: 400px;
    background-color: white;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;


   
    & .flayer-image {
        margin-left: -25%;
        margin-top: -25%;
        transition: filter .2s;

    }
}


.titulo-header {
    display: flex;
    align-items: center;
    margin: 60px;

    & span {
        background-color: black;
        color: white;
        font-size: 40px;
        padding: 30px;
        border-radius: 50px;
    }

}

.post-footer {
    background-color: black;
}

.postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

@media screen and (max-width:800px) {
    .postStyle {
        $size: 200px;
    }
}