@import '../../../exports.module.scss';


.slider{
    height: 100%;
    width: 100%;
    position: relative;
}

.goNextBtn{
    top: 10px;
    right: 10px;
    position:absolute;
    opacity: .8;
    & button{
        font-size: 20px;
        border: 3px solid $blue2;
        padding: 20px;
        background:rgba(255, 255, 255, 0.192);
        border-radius: 20px;
        color: $blue2;
        font-weight: bold;
        &:active,:focus{
            outline: none;
            background: #979df048;
        }
    }
    &:active,:focus{
        outline: none;
    }
  
}


.container-of-containers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.laboratorio-container {
    $size: 50vw;
    background-image: url("../../../../assets/img/laboratorio/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: ($size * 0.86);
    width: $size;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    border: 2px solid rgb(216, 216, 216);
}
.items-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.presentacion {
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/img/laboratorio/portada.png");
    background-position: center;
    background-size: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & button {
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
        font-size: 2rem;
        border: 2px solid black;
        cursor: pointer;
    }
    & .info{
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.534);
        font-size: 2rem;
        text-align: center;
        color: white;
        & .nombre{
            font-weight: bold;
            font-size: 3rem;
        }
    }
}

.paginaFinal{
    background: rgba(0, 0, 0, 0.315);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mantel-container {
    position: relative;
    height: 60%;
    width: 60%;
    background-image: url("../../../../assets/img/laboratorio/mantel.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 25%;
    left: 15%;
    & > div:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

.huevo {
    $size: 45%;
    //border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/huevo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    top: 20%;
    right: 30%;
}

.cafe {
    //border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cafe.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 25%;
    position: absolute;
    right: 15%;
    top: 50%;
}

.papaya {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/papaya.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 30%;
    position: absolute;
    right: 26%;
    top: 70%;
}
$cucharayTenedorSize: 25%;
.cuchara {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cuchara.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $cucharayTenedorSize;
    height: $cucharayTenedorSize;
    position: absolute;
    right: 50%;
    top: 60%;
}
.tenedor {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/tenedor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $cucharayTenedorSize;
    height: $cucharayTenedorSize;
    position: absolute;
    right: 50%;
    top: 75%;
}

.servilleta {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/servilleta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $cucharayTenedorSize;
    height: $cucharayTenedorSize;
    position: absolute;
    right: 49%;
    top: -3.2%;
}

.olla {
    $size: 30%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/olla.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 5%;
    top: 4%;
}

.cuaderno {
    $size: 25%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cuaderno.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    left: 40%;
    top: -5%;
}

.tetera {
    $size: 8%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/tetera.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 20%;
    top: 25%;
}

.ipad {
    $size: 20%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/ipad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 15%;
    top: 46%;
}

.celular {
    $size: 15%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/celular.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 12%;
    top: 70%;
}

.cuerpo {
    $size: 60%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cuerpo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    left:-10%;
    top: 20%;
    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    .laboratorio-container {
        $size: 50vh;
        height: ($size * 0.86);
        width: $size;
    }
}

/**Animations
*/
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
