@import "../../../exports.module.scss";

/**Animations
*/
$animationTime: 2s;
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.slider {
    height: 100%;
    width: 100%;
    position: relative;
}

.goNextBtn {
    $size: 6vw;
    top: 0px;
    right: 10px;
    width: $size;
    height: $size;
    background-image: url("../../../../assets/img/laboratorio/salir_button.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100000;
}
.goNextBtnReal {
    $size: 6vw;
    top: 6vw;
    right: 10px;
    width: $size;
    height: $size;
    background-image: url("../../../../assets/img/laboratorio/siguiente_button.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100000;
}

.container-of-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.laboratorio-container {
    $size: 50vw;
    background-image: url("../../../../assets/img/laboratorio/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: ($size * 0.86);
    min-height: ($size * 0.86);
    width: $size;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    border: 2px solid rgb(216, 216, 216);
}
.items-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.presentacionLaboratorio {
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/img/laboratorio/inicio.JPG");
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & button {
        width: 10vw;
        height: 5vw;
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url("../../../../assets/img/laboratorio/entrada.png");
    }
    & .info {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.534);
        font-size: 2vw;
        text-align: center;
        color: white;
        & .nombre {
            font-weight: bold;
            font-size: 3vw;
            margin-bottom: 10px;
        }
    }
    & .about-laboratorio {
        margin: 10px;
        border-radius: 20px;
        font-size: 1vw;
        background-color: rgba(0, 0, 0, 0.233);
        padding: 20px;
        width: 80%;
    }
}

.textoCuratorial {
    height: 100%;
    padding: 20px;
    font-size: 1rem;
    & .tituloTextoCuratorial {
        font-weight: bold;
        font-size: 1.5rem;
    }
}
.textoCuratorialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}
.imagenesTextoCuratorialContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.imagenTextoCuratorial{
    $size:30vw;
    width: $size;
    
    & >div{
        background-repeat: no-repeat;
        height: $size;
        width: $size;
        margin-top: 40px;
        margin-bottom: 40px;
        background-size: 100%;
    }
    & .uno{

        background-image: url("../../../../assets/img/laboratorio/texto/1.jpeg");
        background-position: center;

    }
    & .dos{

        background-image: url("../../../../assets/img/laboratorio/texto/2.JPG");
        background-position: center;

    }
    & .tres{

        background-image: url("../../../../assets/img/laboratorio/texto/3.jpeg");
        background-position: center;

    }
    & .cuatro{

        background-image: url("../../../../assets/img/laboratorio/texto/4.jpg");
        background-position: center;

    }
    & .cinco{

        background-image: url("../../../../assets/img/laboratorio/texto/5.jpg");
        background-position: center;

    }
    
}
.paginaFinal {
    background-image: url("../../../../assets/img/laboratorio/inicio.JPG");
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
}

.mantel-container {
    position: relative;
    height: 60%;
    width: 60%;
    background-image: url("../../../../assets/img/laboratorio/mantel.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 25%;
    left: 15%;
}

.huevo {
    $size: 45%;
    //border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/huevo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    top: 20%;
    right: 30%;
    cursor: pointer;
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}

.cafe {
    //border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cafe.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 25%;
    position: absolute;
    right: 15%;
    top: 50%;
}

.papaya {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/papaya.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 30%;
    position: absolute;
    right: 26%;
    top: 70%;
    cursor: pointer;
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}
$cucharayTenedorSize: 25%;
.cuchara {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cuchara.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $cucharayTenedorSize;
    height: $cucharayTenedorSize;
    position: absolute;
    right: 50%;
    top: 60%;
}
.tenedor {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/tenedor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $cucharayTenedorSize;
    height: $cucharayTenedorSize;
    position: absolute;
    right: 50%;
    top: 75%;
}

.servilleta {
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/servilleta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $cucharayTenedorSize;
    height: $cucharayTenedorSize;
    position: absolute;
    right: 49%;
    top: -3.2%;
    cursor: pointer;
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}

.olla {
    $size: 30%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/olla.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 5%;
    top: 4%;
    cursor: pointer;
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}

.cuaderno {
    $size: 25%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cuaderno.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    left: 40%;
    top: -5%;
}

.salero {
    $size: 8%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/tetera.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 20%;
    top: 25%;
    cursor: pointer;
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}
.animation {
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}

.ipad {
    $size: 20%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/ipad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 15%;
    top: 46%;
    cursor: pointer;
    &:hover {
        animation: shake $animationTime;
        animation-iteration-count: infinite;
    }
}

.celular {
    $size: 15%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/celular.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    right: 12%;
    top: 70%;
}

.cuerpo {
    $size: 60%;
    // border:1px solid black;
    background-image: url("../../../../assets/img/laboratorio/cuerpo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $size;
    height: $size;
    position: absolute;
    left: -10%;
    top: 20%;
    user-select: none;
    pointer-events: none;
}
.videoSlide {
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.messageInteractive {
    $size: 2vw;
    border: 2px solid #e531af;
    border-radius: 100%;
    width: $size;
    height: $size;
    margin-left: -25px;
    margin-top: -25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../../assets/img/laboratorio/asterisco.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.ensambleImagenes {
    margin: 30px;
    background-image: url("../../../../assets/img/laboratorio/Ensamble.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.primerDibujo {
    background-image: url("../../../../assets/img/laboratorio/primerdibujo.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;

    & button {
        width: 10vw;
        height: 5vw;
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url("../../../../assets/img/laboratorio/siguiente_button.png");
    }
}

@media screen and (max-width: 600px) {
    .laboratorio-container {
        $size: 50vh;
        height: ($size * 0.86);
        width: $size;
    }
    .imagenTextoCuratorial{
        $size:80vw;
        width: $size;
        
        & >div{
            width: $size;
            height: $size;
        }
    }
    .presentacionLaboratorio {
        .info {
            font-size: 3vw;
            .nombre {
                font-size: 5vw;
            }
        }
        & .about-laboratorio {
            font-size: 2.5vw;
        }
        & button {
            width: 20vw;
            height: 10vw;
        }
    }
    .textoCuratorial {
        font-size: 2.5vw;
    }
    .textoCuratorialContainer {
        width: 80%;
    }
    $buttonSize: 15vw;

    .goNextBtn {
        width: $buttonSize;
        height: $buttonSize;
    }
    .messageInteractive {
        $mesSize:5vw;
        width: $mesSize;
        height: $mesSize;
    }
    .goNextBtnReal {
        width: $buttonSize;
        height: $buttonSize;
        top: $buttonSize;
    }
}
