@import '../main.scss';

.content {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $mainColor;
    overflow: hidden;
}

.contentContainer {
    overflow: hidden;
    padding: 3vw;
}

.contentContainer * {
    margin-top: 0;
    margin-bottom: 0;
}

.closeContent {
    position: absolute;
    right: 1%;
    top: 10px;
    font-size: 2vw;
    cursor: pointer;
    color: white;
    user-select: none;
    border-radius: 10px;
    padding: 2vh;

    &:hover {
        background-color: white;
        color:$mainColor;
    }
}