@import "../main.scss";

.content {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 248);
    overflow: hidden;
}

.black-on-top {
    background-color: #000;
    width: 100%;

    height: $topMenuSize;
    max-height: $topMenuSize;

    //border-bottom-right-radius: 20px;
    .logo {
        margin-top: 5px;
        padding-right: 10px;

        //border-right: 2px solid white;
        & span {
            font-size: 35px;
            color: white;

            &:first-child {
                color: white;
            }
        }
    }

    & .menuItem button {
        color: white;
        font-size: 20px;

        &:focus {
            color: white;
            font-size: 22px;
        }
    }

    & .menuItem {
        padding: 10px;
        padding-left: 20px;
        z-index: 100000;

        & svg {
            color: white;
            margin-bottom: -5px;
        }
    }

    & .menuItemLine {
        background-color: white;
    }

    & .subMenu {
        border: 1px solid black;
        border-top: none;
        border-radius: 0 0 30px 30px;
        background: black;

        & ul {
            margin-bottom: 20px;
            background: black;
        }

        & li {
            background-color: black;
            color: white;
            text-align: center;

            &:hover {
                background: $mainColor;
            }
        }
    }
}

.closeContent {
    position: fixed;
    right: 15px;
    top: 0px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    user-select: none;
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: black;

    &:hover {
        background-color: $mainColor;
        color: white;
    }
}

#sideContentManager {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 999;
    margin: 0;
    padding: 0;
    // display: flex;
    background: $blue1;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    & .side-close-content {
        position: fixed;
        top: 50vh;
        color: white;
        font-size: 50px;
        margin-left: 10px;
        flex-grow: 0.1;
        cursor: pointer;
        transition: color .5s;
        & :focus,
        :hover {
            color: rgb(207, 207, 207);
        }
    }
    & .side-content {
        height: 100%;
        margin-left: 70px;
        //height: 90vh;
        padding: 0;
        margin-top: 0;    }
}

@media screen and (max-width: 800px) {
    .black-on-top {
        & .menuContainer {
            flex-direction: row;
        }

        & .menuItem button {
            font-size: 15px;
        }
        & .logo {
            margin-left: -20px;
            margin-right: 10px;
            width: 15px;
            overflow: hidden;
            & span {
                margin-left: -1px;
            }
        }
        .closeContent {
            padding-top: 10px;
            top: 59px;
        }
    }
}
