@import '../main.scss';

.content {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 248);
    overflow: hidden;
   
}

.black-on-top{
    background-color: #000;
    width: 100%;
    height: 7px;
}

.closeContent {
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    user-select: none;
    border-radius:0 0 30px 30px;
    padding: 10px;
    padding-top: 20px;
    background-color: black;
    &:hover {
        background-color: white;
        color:$mainColor;
    }
}
#sideContentManager{
    background-color: #40c784;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
    height: 100%;
    z-index: 999;
}