@import '../main.scss';

.logo {
    z-index: 100;
    color: black;
    user-select: none;
    cursor: pointer;

    & span {
        font-size: 100px;
        font-family: Blanch;
        letter-spacing: 5px;

        &:first-child {
            color: $blue1;
        }
    }

}


.homeContainer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    background: transparent;
}

.menuContainer {
    display: flex;
    margin: 3px;
}

.menu {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.menuItem {
    z-index: 500;
    padding: 2vw;

    & svg {
        color: $mainColor;
    }

}

.has-submenu {
    height: 50px;
    transition: height 1s;

    &:hover {
        height: 300px;
    }
}

.menuItem {
    cursor: pointer;
    & button {
        border: none;
        background-color: transparent;
        padding: 0;
        font-family: Heebo;
        font-size: $subMenuFontSize+vh;
        color: $secondaryColor;
        transition: font-size .5s;
        cursor: pointer;

        &:focus {
            border: none;
            outline: none;
            color: $darkenColor;
        }
    }


}

.menuItemLine {
    background-color: $purple1;
    width: 0%;
    height: 4px;
    user-select: none;
}

.subMenu {
    background-color: $purple1;
    border: 1px solid $purple1;
    transform: scale(1, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-origin: 0% 0%;
    overflow: hidden;

    & ul {
        height: 0%;
        margin: 0;
        padding: 0;
    }

    & li {
        list-style-type: none;
        padding: 10px;
        color: $mainColor;
        background-color: white;
        transition: padding .5s, background-color .5s, color .5s;
        font-size: 2vh;
        cursor: pointer;

        &:hover {
            padding: 20px;
            color: white;
            background-color: $purple1;
        }

        &:focus {
            background-color: $mainColor;
        }
    }


}

.sideMenu {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    margin-right: 15%;

    & div {
        color: $mainColor;
        font-size: 2.5vh;
        user-select: none;
    }
}

.sideMenuItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    transition: background-color .4s, color .4s;
    align-content: space-between;
    margin-bottom: 20%;
    user-select: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 50px 50px;

    &:hover {
        background-color: $purple3;
        color: white;
    }

    &:first-child {
        margin-right: 10px;
    }
}

.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    color: $purple2;
    & .icons a{
        color: $purple2;
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
    }
}

@media screen and (max-width:800px) {
    .social-icons{
        grid-column: 1;
    }
    .homeContainer {
        grid-template-rows: 1fr / 5fr;
        grid-template-columns: 1fr;
    }

    .sideMenu {
        grid-column: 1;
        margin-right: 0;
    }

    .menu {
        grid-column: 1;
    }

    .menuContainer {
        flex-direction: column;
    }

    .menuItem {
        height: 40px;

        & button {
            font-size: 25px;

            &:focus {
                font-size: 4.5vh;
            }
        }

    }

    .logo {
        & span {
            font-size: 60px;
        }

    }

    .sideMenuItem {
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}