$mainColor:#4c56ac;
$secondaryColor:#7f7eaa;
$darkenColor:#2a2357;
$subMenuFontSize:3;
$subMenuFontSizeHover:$subMenuFontSize+.3;
$subMenuFontSizeClick:$subMenuFontSize+.5;

$topMenuSize:60px;


$blue1:#193d7e;
$blue2:#121672;
$blue3:#10129e;

$purple1:#402f88;
$purple2:#393fc0;
$purple3:#434394;


:export{
    mainColor:$mainColor;
    secondaryColor:$secondaryColor;
    subMenuFontSize:$subMenuFontSize;
    subMenuFontSizeHover:$subMenuFontSizeHover;
    subMenuFontSizeClick:$subMenuFontSizeClick;
    darkenColor:$darkenColor;
    blue1:$blue1;
    blue2:$blue2;
    blue3:$blue3;

    purple1:$purple1;
    purple2:$purple2;
    purple3:$purple3;
}