$mainColor:#4c56ac;
$secondaryColor:#7f7eaa;
$darkenColor:#2a2357;
$subMenuFontSize:3;
$subMenuFontSizeHover:$subMenuFontSize+.3;
$subMenuFontSizeClick:$subMenuFontSize+.5;

$topMenuSize:60px;

:export{
    mainColor:$mainColor;
    secondaryColor:$secondaryColor;
    subMenuFontSize:$subMenuFontSize;
    subMenuFontSizeHover:$subMenuFontSizeHover;
    subMenuFontSizeClick:$subMenuFontSizeClick;
    darkenColor:$darkenColor;
}