@import './exports.module.scss';


@font-face {
    font-family: Heebo;
    src: url(../fonts/Heebo.ttf) format('truetype');
  }
  @font-face {
    font-family: Blanch;
    src: url(../fonts/Blanch.otf) format('truetype');
  }
  body,html{
      left:0;
      top:0;
      margin:0;
  }
.circleManager{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    z-index: -30;
    overflow: hidden;
}
.circle {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    position: absolute;
    border: 3px solid #f3ebfa;
}
.circle-text{
    color: white;
    font-size: large;
}
